<script src="https://giscus.app/client.js"
        data-repo="gopaytech/gopaytech.github.io"
        data-repo-id="R_kgDOQMSiuQ"
        data-category="General"
        data-category-id="DIC_kwDOQMSiuc4CxQ7-"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
